.container {
  position: relative;
  width: 985px;
  height: 578px;
  left: 49px;
  top: 105px;
  background: #ffffff;
}
.current-time {
  position: absolute;
  left: 87px;
  top: 450px;
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
}
.current-city {
  position: absolute;
  left: 87px;
  top: 59px;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}
.temperature {
  position: absolute;
  right: 342px;
  top: 59px;
  font-weight: 300;
  font-size: 54px;
  line-height: 64px;
}
.description {
  position: absolute;
  right: 85px;
  top: 436px;
  font-weight: 300;
  font-size: 54px;
  line-height: 64px;
}

.icon {
  position: absolute;
  width: 335px;
  height: 335px;
  right: 64px;
  top: 65px;
  fill: #0f62fe;
}
