<ibm-tile class="container">
  <div class="current-time">
    {{ weather?.date | date: "E, H:mm" }}
  </div>
  <div class="current-city">
    {{ currentCity }}
  </div>
  <div class="temperature">{{ weather?.temperature }} °С</div>
  <div class="description">
    {{ weather?.description | titlecase }}
  </div>
  <div [ngSwitch]="getIcon()">
    <svg class="icon" *ngSwitchCase="'thunderstorm'" ibmIconThunderstorm size="32"></svg>
    <svg class="icon" *ngSwitchCase="'rain'" ibmIconRain size="32"></svg>
    <svg class="icon" *ngSwitchCase="'rain scattered'" ibmIconRainScattered size="32"></svg>
    <svg class="icon" *ngSwitchCase="'rain and snow'" ibmIconSleet size="32"></svg>
    <svg class="icon" *ngSwitchCase="'snow'" ibmIconSnow size="32"></svg>
    <svg class="icon" *ngSwitchCase="'fog'" ibmIconFog size="32"></svg>
    <svg class="icon" *ngSwitchCase="'sunny'" ibmIconSun size="32"></svg>
    <svg class="icon" *ngSwitchCase="'clouds'" ibmIconCloud size="32"></svg>
    <svg class="icon" *ngSwitchCase="'cloudy'" ibmIconCloudy size="32"></svg>
    <svg class="icon" *ngSwitchCase="'partly cloudy'" ibmIconPartlyCloudy size="32"></svg>
  </div>
</ibm-tile>
