.container {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  width: 586px;
  height: 199px;
  left: 1077px;
  top: 718px;
  padding: 22px 36px;
}

.wrapper {
  text-align: center;
  width: 70px;
  height: 137px;
  margin: 14px 17px 0 40px;
}

.sunInfo{
  padding-bottom: 24px;
}

.sunText{
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.sunTime{
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.iconSunrise {
  width: 70px;
  height: 70px;
  fill: #F1C21B;
}

.iconSunset {
  width: 70px;
  height: 70px;
  fill: #FA4D56;
}

.line{
  position: relative;
  left: 100px;
  border-left: 1px solid #A8A8A8;
  height: 155px;
}

.infoBox{
  position: relative;
  left: 130px;
  top: 35%;
  width: 128px;
}

.infoItem{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 7px;
}

.infoText{
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.infoValue{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
