.container {
  display: flex;
  flex-flow: column wrap;
  min-height: 100%;
  padding: 105px 65px 20px 49px;
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}

@media screen and (min-width: 1400px) {
  .wrapper {
    flex-flow: row nowrap;
  }
}
