.container {
  margin-top: 50px;
}
.options {
  width: 50px !important;
}
.button {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: #0f62fe;
  color: #ffffff;
}
.content {
  font-size: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.configContent {
  font-size: 20px;
  margin-left: 15px;
}
