@import "~carbon-components/scss/globals/scss/styles.scss";

* {
  font-family: IBM Plex Sans, sans-serif !important;
}

body {
  background-color: #e0e0e0;
}

.bx--list-box__menu {
  max-height: 95px !important;
  overflow-y: scroll !important;
}
