.container {
  position: absolute;
  width: 985px;
  height: 199px;
  left: 49px;
  top: 718px;
}

.tableCell{
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
}

.cell{
  vertical-align: top;
  padding-top: 23px;
}

.time{
  margin-bottom: 5px;
}


