.container{
  position: relative;
  width: 985px;
  height: 578px;
  left: 49px;
  top: 105px;
  background: #FFFFFF
}
.current-time{
  position: absolute;
  left: 87px;
  top: 450px;
}
p{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
}
