<ibm-tile class="container">
  <div class="current-time" *ngIf="weather">
    {{weather.date | date:'E, H:mm'}}
  </div>
  <div class="current-city" >
    {{currentCity}}
  </div>
  <div class="temperature" *ngIf="weather" >
    {{weather.temperature}} °С
  </div>
  <div class="description" *ngIf="weather">
    {{weather.description[0].toUpperCase() + weather.description.slice(1)}}
  </div>
  <div [ngSwitch]= "weather?.description">
    <svg class="icon" *ngSwitchCase="showThunderstormIcon()" ibmIconThunderstorm size="32"></svg>
    <svg class="icon" *ngSwitchCase="showRainIcon()" ibmIconRain size="32"></svg>
    <svg class="icon" *ngSwitchCase="showRainScatteredIcon()" ibmIconRainScattered size="32"></svg>
    <svg class="icon" *ngSwitchCase="showRainAndSnowIcon()" ibmIconSleet size="32"></svg>
    <svg class="icon" *ngSwitchCase="showSnowIcon()" ibmIconSnow size="32" ></svg>
    <svg class="icon" *ngSwitchCase="showFogIcon()" ibmIconFog size="32"></svg>
    <svg class="icon" *ngSwitchCase="showSunnyIcon()" ibmIconSun size="32"></svg>
    <svg class="icon" *ngSwitchCase="showCloudIcon()" ibmIconCloud size="32"></svg>
    <svg class="icon" *ngSwitchCase="showCloudyIcon()" ibmIconCloudy size="32"></svg>
    <svg class="icon" *ngSwitchCase="showPartlyCloudyIcon()" ibmIconPartlyCloudy size="32"></svg>
  </div>
<!--  <svg ibmIcon="accessibility" size="32"></svg>-->
</ibm-tile>
